.dashboard {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #1e293b;
  color: white;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  margin-top: 20px;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
}

/* MAIN */
.main {
  flex: 1;
  padding: 30px;
  background: #f1f5f9;
}

.search {
  padding: 10px;
  width: 300px;
  margin: 20px 0;
}

/* STATS */
.stats {
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

/* JOBS */
.jobs {
  margin-top: 30px;
}

.job-card {
  background: white;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
}